@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    font-family: Merriweather, sans-serif;
    background-color: #4845E4;
    color: aliceblue;
    text-align: center;
    height: 500px;
}
.nav-1 {
    display: flex;
    flex-direction: row;
    flex-basis: 200px;
    justify-content: flex-end;

}
ul {
display: flex;
    list-style: none;
    justify-content: space-around;
    flex-basis: 400px;
}
h1 {
    margin-top: 80px;
}

.button-1 {
    background-color: #ED4385;
    border-radius: 50px;
    font-family: inherit;
    color: aliceblue;
    padding: 20px 40px;
    border-style: none;
    box-shadow: 2px 2px 2px 2px rgba(17,15,17,0.27);
    margin-bottom: 60px;
}
a {
    text-decoration: none;
    color: #5722CD;
    font-size: 12px;
    font-weight: bold;
}
main {
    display: flex;
    flex-direction: column;
}
.sec-1 {
    font-family: "Roboto Light", sans-serif;
    color: #5722CD;
    text-align: center;
    height: 300px;
    margin: 50px;
    font-weight: bold;
    font-size: 20px;
}
h5 {
    color: black;
}
h6 {
    color: black;
}
.sec-2 {
    font-family: "Roboto Light", sans-serif;
    background-color: #F3F6F9;
}

.art-1 {
display: flex;
flex-direction: row;
    margin: 30px;
    border: none;
}
.art-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px;
    border: none;
}
.art-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px;
    border: none;
}
div {
    padding: 80px;
    margin: 40px;
}
span {
    width: 100%;
    vertical-align: middle;
    box-shadow: 2px 2px 2px black;
}
.image-wrapper{
    flex-basis: 800px;
    flex-grow: 1;
    flex-shrink: 0;
}
h3{
     padding-bottom: 30px;
 }

p {
    padding: 40px 0;
}

.sec-3 {

}
h4 {
    padding: 20px 0;
    color: #5722CD;
}
article {
    border: #4845E4;
    box-shadow: rgba(0,0,0,0.16)0 1px 4px;
    padding: 16px;
    border-style: solid;
    display: flex;
    flex-basis: 350px;
    flex-direction: column;
}

.div-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 40px;
}

.sec-4 {
    background-color: #4845E4;
    color: aliceblue;
    font-family: Merriweather, sans-serif;
    padding-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

form {

    font-size: 12px;
    font-family: "Roboto Thin", sans-serif;
    font-weight: bold;
}
input {
    padding: 10px 0;
    border-radius: 5px;

}
button {
    background-color: #ED4385;
    border-radius: 50px;
    font-family: inherit;
    color: aliceblue;
    padding: 15px 60px;
    border-style: none;
    box-shadow: 2px 2px 2px 2px rgba(17,15,17,0.27);
    margin: 30px 180px;

}

footer {
    height: 80px;
    background-color: black;
    color: aliceblue;
    text-align: center;
}